/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: white;
    --secondary-color: white;
    --accept-color: #04BA00;
    --icon-color: white;
}

*, html {
    font-family: Montserrat, sans-serif;
    border: none;
    margin: 0;
    padding: 0;
}

body {
  color: white;
  /*background-image: url("assets/pattern.png");*/
  background-color: #28002E;
}
